.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.display {
  width: 350px;
  height: 70px;
  background-color: gainsboro;
  font-size: xx-large;
  margin: 0;
  text-align: right;
}

.keys {
  display: flex;
}

.digits {
  background-color: gainsboro;
  width: 210px;
}

.operators {
  display: flex;
  flex-direction: column;
}

.equals-and-clear {
  display: flex;
  flex-direction: column;
}

.btn {
  width: 70px;
  height: 70px;
}

.big-btn {
  width: 70px;
  height: 140px;
}
